$bgcolor: #f1f1f1;
$font-color: #999999;
$card-background: #fff;
$highrating: #9335ff;
$lowrating: #e89d40;
$highratingMessageCounter: #27aae1;
$lowratingMessageCounter: $lowrating;
$borderRadius: 10px;
$sizes: 5, 10, 15, 20, 30, 40;
$shadowCount: 1,2,3;

$sides: (top, bottom, left, right);
$axises: ("horizontal": "x", "vertical": "y");

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin shadow {
  position: absolute !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@each $size in $sizes {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$size} {
      margin-#{$side}: #{$size}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$size} {
      padding-#{$side}: #{$size}px !important;
    }
  }
  .m-#{$size} {
    margin: #{$size}px !important;
  }
  .p-#{$size} {
    padding: #{$size}px !important;
  }
}

@each $name, $prefix in $axises {
  @each $size in $sizes {
      @if $prefix == x {
        .m-#{$prefix}-#{$size} {
          margin: 0 #{$size}px
        }
        .p-#{$prefix}-#{$size} {
          padding: 0 #{$size}px
        }
      } @else {
        .m-#{$prefix}-#{$size} {
          margin: #{$size}px 0
        }
        .p-#{$prefix}-#{$size} {
          padding: #{$size}px 0
        }
      }
    }
}

@each $shadow in $shadowCount {
  .card.shadow-#{$shadow} {
    @include shadow();
    display: block;
    z-index: #{$shadow};
    top: $shadow * 15px;
    left: $shadow * 15px;

    .card-title, .card-body, .card-content {
      visibility: hidden;
    }
  }
}

.card-container {
  position: relative;
  .message-counter {
    position: absolute;
  }
}

html, body, #root {
  background-color: $bgcolor;
  color: $font-color
}

.card {
  position: relative;
  border-radius: $borderRadius;
  background-color: $card-background;
  z-index: 5;
  height: 90px;
  box-shadow: 0 0px 12px 3px #e1e1e1;
  @include column();

  .shadow {
    display: none;
  }

  .card-title, .card-body {
    justify-content: space-between;
    @include row();
  }
  .card-title {
    .high-rating {
      color: $highrating
    }
    .low-rating {
      color: $lowrating;
    }
  }
}