@import "./variables.scss";
@import "./mixins.scss";
$first-column-size: 0.7;

html,
body {
  background-color: $bgcolor;
  color: $font-color;
}

.container {
  margin: 0 auto;
  max-width: 768px;
  min-width: 320px;
}

.card-container {
  position: relative;
  .message-counter {
    position: absolute;
    z-index: 6;
    right: 20px;
    top: -0.5rem;
    width: 200px;
    text-align: center;
    color: white;
    border-radius: $borderRadius;

    &.high-rating {
      background-color: $highratingMessageCounter;
    }
    &.low-rating {
      background-color: $lowrating;
    }
  }
}

.card {
  position: relative;
  border-radius: $borderRadius;
  background-color: $card-background;
  z-index: 5;
  box-shadow: 0 0px 12px 3px #e1e1e1;
  @include column();

  &.shadow {
    display: none;
    .card-title,
    .card-body,
    .card-content {
      visibility: hidden;
    }
  }

  .card-title,
  .card-body {
    justify-content: space-between;
    @include row();
    .first-column {
      flex: $first-column-size;
    }
    .second-column {
      flex: 1 - $first-column-size;
      text-align: right;
    }
  }

  .card-body {
    font-weight: 300;
  }
  .card-title {
    .high-rating {
      font-weight: bolder;
      color: $highrating;
    }
    .low-rating {
      color: $lowrating;
      font-weight: bolder;
    }
  }
}
