$sizes: 5, 10, 15, 20, 30, 40, 50;
$shadowCount: 2;
$shadowOffset: 10;

$sides: (top, bottom, left, right);
$axises: (
  "horizontal": "x",
  "vertical": "y",
);

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  @if $direction == column {
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } @else {
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@mixin column {
  @include flexbox();
  @include flex-direction(column)
}

@mixin row {
  @include flexbox();
  @include flex-direction(row)
}

@mixin shadow {
  position: absolute !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

@each $size in $sizes {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$size} {
      margin-#{$side}: #{$size}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$size} {
      padding-#{$side}: #{$size}px !important;
    }
  }
  .m-#{$size} {
    margin: #{$size}px !important;
  }
  .p-#{$size} {
    padding: #{$size}px !important;
  }
}

@each $name, $prefix in $axises {
  @each $size in $sizes {
    @if $prefix == x {
      .m-#{$prefix}-#{$size} {
        margin: 0 #{$size}px;
      }
      .p-#{$prefix}-#{$size} {
        padding: 0 #{$size}px;
      }
    } @else {
      .m-#{$prefix}-#{$size} {
        margin: #{$size}px 0;
      }
      .p-#{$prefix}-#{$size} {
        padding: #{$size}px 0;
      }
    }
  }
}

@for $shadow from 1 through $shadowCount {
  .card.shadow-#{$shadow} {
    @include shadow();
    display: block !important;
    z-index: #{$shadowCount - $shadow};
    top: #{$shadow * $shadowOffset}px;
    left: #{$shadow * $shadowOffset}px;
  }
}
